!!!
%html
  %link{:rel => "stylesheet", :href => "css/reveal.css"}
  %link{:rel => "stylesheet", :href => "screen.css"}
  %link{:href => 'http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .reveal
      .slides
        %section
          .center
            %h1 Requisitos, Comunicação e Pessoas
        %section
          %section
            %h2 Quem diabos é Nícolas Iensen?
          %section
            %h3 Programador
            %img{:src => "http://imgur.com/homFB.jpg"}
          %section
            %h3 Pirata
            %img{:src => "http://i.imgur.com/6nZwT.jpg"}
          %section
            %h3 Engage
            %img{:src => "http://i.imgur.com/i8EXN.png"}
            %p
              %a{:href => "http://engage.is/"} engage.is
          %section
            %h3 Meu Rio
            %img{:src => "http://i.imgur.com/77ZaA.png"}
            %p
              %a{:href => "http://meurio.org.br/"} meurio.org.br
        %section
          %h2 Quem são vocês?
          %ul
            %li.fragment De que área?
            %li.fragment Porque estão aqui?
            %li.fragment O que esperam dessa aula?
        %section
          %p.fragment.alert Mais de 64% de um produto de software quase nunca é utilizado!
          %img{:src => "http://2.bp.blogspot.com/-McuytTlCh-U/ThoQwws-rKI/AAAAAAAAAWc/jPyrSN_NREM/s1600/Usage%2Bof%2BFeatures%2Band%2BFunctions%2Bin%2Ba%2BSW%2BSystem.jpg"}
          %p 
            Relatório apresentado pelo 
            %a{:href => "http://blog.standishgroup.com/"} Standish Group 
            no 
            %a{:href => "http://martinfowler.com/articles/xp2002.html"}XP2002
        %section
          %table
            %tr
              %th Fatores de sucesso em um projeto
              %th % de respostas
            %tr
              %td Involvimento do usuário
              %td 15.9%
            %tr
              %td Suporte gerencial
              %td 13.9%
            %tr
              %td.alert Definição clara dos requisitos
              %td.alert 13.0%
            %tr
              %td Planejamento apropriado
              %td 9.6%
            %tr
              %td Expectativas realistas
              %td 8.2%
            %tr
              %td Marcos de projetos mais curtos
              %td 7.7%
            %tr
              %td Competência da equipe
              %td 7.2%
            %tr
              %td Domínio do problema
              %td 5.3%
            %tr
              %td Visão clara dos objetivos
              %td 2.9%
            %tr
              %td Trabalho duro e equipe focada
              %td 2.4%
            %tr
              %td Other	
              %td 13.9%
        %section
          %h2 O que é um requisito?
        %section
          %h2 De onde os requisitos veem?
        %section
          %h2 Foco no problema
        %section
          %h2 Software inútil
        %section
          %h2 Fatores críticos de sucesso num projeto de desenvolvimento de software
        %section
          %h2 Os principais problemas do desenvolvimento de software por categoria
        %section
          %h2 Analista de negócios
        %section
          %h2 As famílias de requisitos
        %section
          %h2 Requisitos de negócio
        %section
          %h2 Requisitos de usuário
        %section
          %h2 Requisitos da solução
        %section
          %h2 Roadmap dos requisitos
        %section
          %h2 Elicitação de requisitos
    %script{:src => "js/reveal.js"}
    :javascript
      Reveal.initialize({rollingLinks: false, history: true});
